body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontally centers the main */
    align-items: center;     /* Vertically centers the main */
}

.main {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center; /* Horizontally centers the child */
    align-items: center;     /* Vertically centers the child */
    border: 1px solid red;
    padding: 10px;  /*  pressure applied on internally */
    /* box-sizing: border-box;  */
   
}

.child {
     
    /* pressure from ousite */
    /* margin: 100px; */
    height: 100%;      /* Takes full height of the available space within main */
    width: 100%;       /* Takes full width of the available space within main */
    border: 1px solid blue; /* Changed color to differentiate from main */
    box-sizing: border-box;
}