body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontally centers the main */
    align-items: center;     /* Vertically centers the main */
}


.main {
    height: 500px;
    width: 500px;
    position: relative; /* Establishes the context for absolute positioning */
    border: 1px solid red;
    padding: 10px;
}

.child {
    margin: -10px;
    position: absolute; /* Absolute positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the child */ 
    height: 500px; /* Desired height */
    width: 500px;  /* Desired width */
    border: 1px solid blue; /* Different color for differentiation */
}
